<main class="page-<%= pageData.template %>">
	<section class="post-detail">
		<div class="inner post-detail__wrapper">
			<div class="post-detail__main">
				<h1 class="post-detail__main-ttl">ST100 Mobifone – Đăng ký gói cước nhận ngay voucher du lịch</h1>
				<div class="post-detail__main-content">
					<p><a href="http://st100-mobifone-dang-ky-goi-cuoc-nhan-ngay-voucher-du-lich" target="_blank"><strong>ST100 Mobifone</strong>&nbsp;</a> xua tan cái nóng mùa hè bằng những chuyến du lịch xả hơi, có ngay&nbsp;<strong>Smart Travel</strong>&nbsp;với gói cước ST100 đồng hành cùng khách hàng trên mọi nẻo đường. Nhanh tay đăng ký để có cơ hội nhận voucher du lịch thôi nào! &nbsp;</p>
					<figure>
						<img src="<%= RELATIVE_PATH %>img/detail/img-detail.png" alt="img">
						<figcaption>ST100 Mobifone – Đăng ký gói cước nhận ngay voucher du lịch</figcaption>
					</figure>
					<h3>Chi tiết gói cước ST100 Mobifone :</h3>
					<table style="font-size: 14.4px;" border="1px solid #dfe2e6"><tbody><tr style="background-color: #c5e1fc;"><td style="text-align: center; width: 31.4928%; background-color: #f2f2f2;" data-align="center"><span style="color: #000000; font-size: 100%;"><strong>Tên gọi/Cước phí</strong></span></td><td style="text-align: center; width: 31.4928%; background-color: #f2f2f2;" data-align="center"><span style="color: #000000; font-size: 100%;"><strong>Đăng ký SMS/ Ưu đãi</strong></span></td><td style="text-align: center; width: 35.3783%; background-color: #f2f2f2;" data-align="center"><span style="color: #000000; font-size: 100%;"><strong>Đăng ký nhanh</strong></span></td></tr><tr><td style="text-align: center; width: 31.4928%;" rowspan="2"><p><strong>ST100</strong></p><p>159.000đ</p></td><td style="width: 31.4928%;"><p style="text-align: center;"><strong><span style="color: #ed1c24;">KT9&nbsp;</span><span style="color: #0000ff;"> ST100&nbsp;</span></strong>gửi<strong><span style="color: #ed1c24;">&nbsp;9084</span></strong></p></td><td style="text-align: center; width: 35.3783%;"><p style="text-align: center;"><a class="pricing_action" href="sms:9084?&amp;body=KT9 ST100"><b>SOẠN TIN</b> <i class="fas fa-location-arrow"></i></a></p></td></tr><tr><td style="background-color: #f2f2f2; width: 66.8712%;" colspan="2"><ul><li>30GB/tháng (1GB/ ngày) data tốc độ cao lướt mạng mượt như lướt sóng</li><li>&nbsp;Miễn phí data truy cập dịch vụ MobiFone Smart Travel.</li><li>&nbsp;Miễn phí 01 tài khoản sử dụng dịch vụ MobiFone Smart Travel&nbsp; theo kịch bản dịch vụ.</li><li>Nhận gợi ý mọi địa điểm ăn chơi, nghỉ dưỡng dựa theo sở thích với “chuyên gia AI”</li><li>Trọn bộ bản đồ online/offline, dịch thuật đa ngôn ngữ</li><li>Trải nghiệm công nghệ AR/VR tại từng điểm du lịch</li></ul></td></tr></tbody></table>
					<ul><li>Phạm vi ưu đãi: Toàn quốc-</li><li>30GB/tháng (1GB/ ngày) data tốc độ cao lướt mạng mượt như lướt sóng</li><li>&nbsp;Miễn phí data truy cập dịch vụ MobiFone Smart Travel.</li><li>&nbsp;Miễn phí 01 tài khoản sử dụng dịch vụ MobiFone Smart Travel&nbsp; theo kịch bản dịch vụ.</li><li>Nhận gợi ý mọi địa điểm ăn chơi, nghỉ dưỡng dựa theo sở thích với “chuyên gia AI”</li><li>Trọn bộ bản đồ online/offline, dịch thuật đa ngôn ngữ</li><li>Trải nghiệm công nghệ AR/VR tại từng điểm du lịch</li></ul>
					<p>Bạn cũng có thể đăng ký thêm các&nbsp;<a href="https://dangkymobifone.vn/khuyen-mai/">chương trình khuyến mãi</a>&nbsp;<span style="color: #555555">khác của nhà mạng khi sử dụng gói.</span></p>
					<h2>Cách đăng ký gói cước ST100 Mobifone :</h2>
					<p>Để đăng ký gói cước ST100&nbsp;<a href="https://mobifonedata.com.vn/" target="_blank" rel="noopener">Mobifone</a>. Soạn tin theo cú pháp:</p>
					<blockquote class="wp-block-quote has-text-align-center">
						<p style="text-align: center;"><strong><span style="color: #ff0000;">KT9</span> &nbsp;<span style="vertical-align: inherit;">ST100&nbsp;</span><span style="vertical-align: inherit; color: #0000ff;">&nbsp;</span></strong>gửi&nbsp;<span style="color: #ff0000;"><strong>9084</strong></span></p>
					</blockquote>
					<p class="p1"><span style="color: #ed1c24;"><em>*Trường hợp không đăng ký không thành công, là do:</em></span></p>
					<ol><li class="p1">Số dư trong tài khoản chính của không đủ.</li><li class="p1">Bạn đang sử dụng gói cước khác. Vui lòng huỷ gói cước cũ bằng cách soạn tin:&nbsp;<strong>HUY &lt;Tên-gói&gt;</strong>&nbsp;gửi&nbsp;<strong>999</strong></li></ol>
					<p>Chỉ 2 giây sau khi nhắn tin, bạn sẽ nhận được thông báo đăng ký thành công từ tổng đài. Sau đó việc của bạn là khởi động lại thiết bị và truy cập mạng như bình thường.</p>
					<h2>Cước phí và thời gian sử dụng gói ST100 Mobifone :</h2>
					<ul><li>Phí dịch vụ: 100.000VNĐ/ 1 lần đăng ký.<ul><li>Đối với thuê bao trả trước: Tại thời điểm đăng ký, tài khoản của thuê bao phải có &gt;= 100.000VNĐ. Phí dịch vụ sẽ trừ thẳng vào tài khoản chính của thuê bao.</li><li>Đối với thuê bao trả sau: Phí dịch vụ sẽ được tính vào hoá đơn cuối tháng của thuê bao.</li></ul></li><li>Thời gian sử dụng gói:<ul><li>Gói hoạt động theo chu kỳ 1 tháng .</li></ul></li></ul>
					<blockquote class="quote-xemthem">Xem thêm:&nbsp;<a href="https://dangkymobifone.vn/gg135-mobifone-goi-cuoc-he-soi-dong/">Hướng dẫn đăng ký GG135 Mobifone – Gói cước hè sôi động</a></blockquote>
					<h2><strong>Một số cú pháp hỗ trợ người sử dụng gói ST100 Mobifone:</strong></h2>
					<table class="table table-bordered table-striped table-condensed" border="1" width="100%"><tbody><tr><td style="text-align: center;"><strong>Cú pháp</strong></td><td style="text-align: center;"><strong>Nội dung hỗ trợ</strong></td></tr><tr><td style="text-align: center;">Soạn&nbsp;<span style="color: #ed1c24;"><strong>KT DATA</strong></span>&nbsp;gửi&nbsp;<span style="color: #ed1c24;"><strong>999</strong></span></td><td style="text-align: center;">Kiểm tra số dung lượng data 4G còn lại.</td></tr><tr><td style="text-align: center;">Soạn&nbsp;<strong><span style="color: #ed1c24;">KT ALL</span>&nbsp;</strong>gửi<strong>&nbsp;<span style="color: #ed1c24;">999</span></strong></td><td style="text-align: center;">Kiểm tra số dung lượng data 4G, phút gọi nội mạng và SMS nội mạng còn lại của gói.</td></tr><tr><td style="text-align: center;">Soạn&nbsp;<span style="color: #ed1c24;"><strong>HUY ST100 </strong></span>&nbsp;gửi&nbsp;<span style="color: #ed1c24;"><strong>999</strong></span></td><td style="text-align: center;">Hủy gói cước.</td></tr></tbody></table>
					<p><span style="font-size: 14.4px;"> Hãy nhanh tay nhấc máy điện thoại lên và đăng ký&nbsp;</span><a style="font-size: 14.4px;" href="http://st100-mobifone-dang-ky-goi-cuoc-nhan-ngay-voucher-du-lich" target="_blank">gói cước ST100 Mobifone</a><span style="font-size: 14.4px;">&nbsp;đi thôi nào. Chúc các bạn thành công nhé!</span></p>
				</div>
			</div>
			<div class="post-detail__sidebar">
				<div class="post-detail__sidebar-wp">
					<aside class="box-widget">
						<span class="box-widget__ttl">Bài viết mới nhất</span>
						<ul class="box-widget__list">
							<li class="box-widget__list-item">
								<div class="box-widget__list-img">
									<img src="<%= RELATIVE_PATH %>img/detail/img-aside-01.png" alt="">
								</div>
								<a href="#" class="box-widget__list-link">Khuyến mãi Mobifone tặng 20% giá trị thẻ nạp tháng 1/2025</a>
							</li>
							<li class="box-widget__list-item">
								<div class="box-widget__list-img">
									<img src="<%= RELATIVE_PATH %>img/detail/img-aside-01.png" alt="">
								</div>
								<a href="#" class="box-widget__list-link">Cách đăng ký gói cước NCL5 Mobifone</a>
							</li>
							<li class="box-widget__list-item">
								<div class="box-widget__list-img">
									<img src="<%= RELATIVE_PATH %>img/detail/img-aside-02.jpg" alt="">
								</div>
								<a href="#" class="box-widget__list-link">Cách đăng ký gói cước 4G MobiFone 1 ngày giá rẻ</a>
							</li>
							<li class="box-widget__list-item">
								<div class="box-widget__list-img">
									<img src="<%= RELATIVE_PATH %>img/detail/img-aside-03.png" alt="">
								</div>
								<a href="#" class="box-widget__list-link">ASC5 Mobifone – Combo Data AIVoice Studio Ngày</a>
							</li>
							<li class="box-widget__list-item">
								<div class="box-widget__list-img">
									<img src="<%= RELATIVE_PATH %>img/detail/img-aside-03.png" alt="">
								</div>
								<a href="#" class="box-widget__list-link">ESC5 Mobifone – Combo Data English Support Ngày</a>
							</li>
						</ul>
					</aside>
					<aside class="box-widget">
						<span class="box-widget__ttl">Các gói cước hot 2024</span>
						<div class="box-widget__bnr">
							<img src="<%= RELATIVE_PATH %>img/detail/img-aside-04.png" alt="img">
						</div>
					</aside>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="post-detail__relative">
				<h2 class="c-ttl__01">Các gói cước nổi bật</h2>
				<ul class="product-list">
					<li class="product-list__item">
						<div class="product-list__box">
							<div class="product-list__box--hot">
								<img src="<%= RELATIVE_PATH %>img/common/item-01.png" alt="hot">
							</div>
							<h3 class="product-list__ttl"><a href="">ESC5</a></h3>
							<div class="product-list__price">5.000đ</div>
							<ul class="product-list__feature">
								<li><i class="fa fa-database"></i>DATA: <strong>01 GB + English</strong></li>
								<li><i class="fas fa-clock"></i>Hạn: <strong>1 ngày</strong></li>
								<li><i class="fas fa-sms"></i>Soạn: <strong>ESC5</strong> Gửi  <strong>999</strong></li>
							</ul>
							<a href="" class="c-btn__01">
								<span>SOẠN TIN <i class=" fa fa-location-arrow"></i></span>
							</a>
							<a href="" class="c-btn__viewmore">
								Chi tiết <i class="fa fa-share"></i>
							</a>
						</div>
					</li>
					<li class="product-list__item">
						<div class="product-list__box">
							<div class="product-list__box--hot">
								<img src="<%= RELATIVE_PATH %>img/common/item-01.png" alt="hot">
							</div>
							<h3 class="product-list__ttl"><a href="">FM</a></h3>
							<div class="product-list__price">180.000đ</div>
							<ul class="product-list__feature">
								<li><i class="fa fa-database"></i>DATA: <strong>240GB + Gọi</strong></li>
								<li><i class="fas fa-clock"></i>Hạn: <strong>30 ngày</strong></li>
								<li><i class="fas fa-sms"></i>Soạn: <strong>KT9 FM</strong> Gửi  <strong>9084</strong></li>
							</ul>
							<a href="" class="c-btn__01">
								<span>SOẠN TIN <i class=" fa fa-location-arrow"></i></span>
							</a>
							<a href="" class="c-btn__viewmore">
								Chi tiết <i class="fa fa-share"></i>
							</a>
						</div>
					</li>
					<li class="product-list__item">
						<div class="product-list__box">
							<div class="product-list__box--hot">
								<img src="<%= RELATIVE_PATH %>img/common/item-01.png" alt="hot">
							</div>
							<h3 class="product-list__ttl"><a href="">GG155</a></h3>
							<div class="product-list__price">155.000đ</div>
							<ul class="product-list__feature">
								<li><i class="fa fa-database"></i>DATA: <strong>180GB + Gọi</strong></li>
								<li><i class="fas fa-clock"></i>Hạn: <strong>30 ngày</strong></li>
								<li><i class="fas fa-sms"></i>Soạn: <strong>KT9 GG155</strong> Gửi  <strong>9084</strong></li>
							</ul>
							<a href="" class="c-btn__01">
								<span>SOẠN TIN <i class=" fa fa-location-arrow"></i></span>
							</a>
							<a href="" class="c-btn__viewmore">
								Chi tiết <i class="fa fa-share"></i>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>